<p>This Task App uses Node.js, JavaScript, and popular modules, along with basic 
    HTML, CSS, and MongoDB to render a dynamic single page application (SPA) where users can 
    use basic CRUD funcitonality to manage user accounts and their tasks.</p>

<p style="flex-grow: 1;">Node modules used include:
    <br> - <strong>SendGrid</strong> to send email communications to users after account
    registration or deletion
    <br> - <strong>Bcrypt</strong> to encode sensitive user data (i.e. passwords)
    <br> - <strong>Express</strong> to host a Node.js server
    <br> - <strong>HBS (handlebars)</strong> to render views and partial html pages across the app
    <br> - <strong>JsonWebToken (JWT)</strong> to authenticate and persist a users login
    <br> - <strong>MongoDB</strong> and <strong>Mongoose</strong> to communicate with a NoSQL database where users and 
    tasks are stored, and to provide CRUD funcitonality
    <br> - <strong>Multer</strong> to allow users to upload avatars (only implemented server side for now)
    <br> - <strong>Request</strong> to allow the client rendered app to communicate with the server
    <br> - <strong>Sharp</strong> to format uploaded user images
    <br> - <strong>Validator</strong> to ensure input fields meet the expected requirements
</p>

<img class="portrait" src="/img/me.jpg">
<p>This site was created by Brandon Scoggins.</p>