<header>
    <h1>{{title}}</h1>

    <div class="top-border" style="display: flex">
        <a href="#home">Home</a>
        <a href="#profile">Profile</a>
        <a href="#tasks">Tasks</a>
        <a href="#about">About</a>
        <a href="#help">Help</a>
    </div>
</header>