<input id="registerName" placeholder="Name">
<input id="registerEmailAddress" placeholder="Email Address">
<input id="registerPassword" placeholder="Password">
<button id="registerButton" onclick="register()">Submit</button>