<div style="display: flex; flex-direction: row;">
    <div style="flex-grow: 1;">
        <input id="updateName" placeholder="Name">
        <br>
        <input id="updateEmailAddress" placeholder="Email Address">
    </div>
    <div style="flex-grow: 1;">
        <input id="updateAge" placeholder="Age">
        <br>
        <input id="updatePassword" placeholder="Password">
    </div>
</div>
<br>
<button id="updateButton" onclick="update()">Submit</button>